html {
    font-family: 'Roboto', sans-serif;
}
.popular_Planet {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h2{
    font-family: 'Karla', sans-serif;
}

html, body {
position: relative;
height: 100%;
}
body {
background: #eee;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
color:#000;
margin: 0;
padding: 0;
}



/* Header Css */

.navbar {
    background-image:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1.33) ), url("/images/nebula.jpg");
    background-size:cover;
    background-position: center; 
}

.navbar-brand {
    width: 38px;
    color: white !important; 
    font-family: Roboto ; 
    font-weight: bold;
}

.fa-search {
    font-size: 20px; 
    color: white; 
    position: absolute; 
    right: 15px; 
    cursor: pointer
}

.bord {
    list-style: none; 
    color: white; 
    font-family: Roboto; 
    font-size: 17px; 
    cursor: pointer;
}

/* End Header */

/* SignUp And Login */

.singup {
    width: 400px; 
    height: 600px; 
    border-radius: 10px; 
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1.33) ), url("/images/sign_log1.jpg"); 
    background-size: cover; 
    position: fixed; 
    z-index: 1000;  
    left: 50%; 
    transform: translateX(-50%);
}


.report_form {
    min-height: 0px;
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
}

.report_form.active {
    max-height: 500px;
    min-height: 270px;
}


.report_div h3,p {
    color: white;
    font-family: "Karla";
}

.report_div.active {
    display: block;
}

.log-in input {
    font-family: "Karla" !important;
    font-size: 15px;
    color: white !important;
}

.singup input {
    font-family: "Karla" !important;
    font-size: 15px;
    color: white !important;
}

.search_btn {
    display: none;
}

.all_category li {
    color: white;
    font-family: "Karla";
}

/* End SignUp and Login */

/* Content CSs */

.title_vote i:hover {
    color:#FA5B3D;
    cursor: pointer;
}

.content {
    background-image:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1.33) ), url("/images/nebula.jpg"); 
    background-size:cover; 
    background-position: center; 
    background-attachment: fixed
}



.content-2 {
    background-image:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1.33) ), url("/images/nebula2.jpg"); 
    background-size:cover; 
    background-position: center;
    background-attachment: fixed
}

.dot {
    position: absolute; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background :white; 
    top: -15px;
}

.satelite_dot img {
    width: auto; 
    height: 150px; 
    transform: rotate(190deg);
}


.satelite_img {
    cursor: pointer;
}









/* ENDCONTENT */

/* PLanet Inputs */

.planet_input {
    position: relative;
    padding-top: 30px;
}

.planet_input label {
    top: 50%;
    
    position: absolute;
    left: 10%;
    transition: top 0.5s;
}

.planet_input label.active {
    top: 105%;
}



.new_planet h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 25px;
}


.new_planet label {

    text-align: center;
    font-size: 14px;
    color: white;
    font-family: 'Roboto';
}

.new_planet input {
    width: 80%;
    margin: 0 auto;
    color: white !important;
    font-family: "Karla" !important;
}


.other_planets_disc {
    width: 320%;
}


.planet_img {
    color: white;
    width: 40%;
    margin: 0 auto;
    padding: 15px;
    cursor: pointer;
}

.planet_img i {
    font-size: 50px;
}



.step-1 {
    display: block;
}

.step-1.active {
    display: none;
}

.step-2 {
    display: none;
}

.step-2.active{
    display: block;
}

.step-3 {
    display: none;
}

.step-3.active {
    display: block;
}

.step-4 {
    display: none;
}

.step-4.active {
    display: block;
}



.step-1-end , .step-2-end , .step-3-end{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color:transparent;
    border-color: #d43f3a;
}



/* Single Plaets CSS */

    .single_planet_disc p {
        font-family: 'Karla';
        color: white;
        font-size: 18px;
    }

    .single_planet h1 {
        color: white;
        font-family: 'Roboto';
    }

    .single_planet_people p {
        text-align: justify;
        color: white;
        font-family: 'karla';
    }


    .planet_people {
        display: flex;
    }


    .all_comments p {
        color: white;
        font-family: "Karla";
    }
    .all_comments h2 {
        font-family: "Roboto";
        color: white;
    }

    .all_comments p {
        width: 75%;
    }

/* END SIngle Planet */


/* Admin Css */


.post_comments tr {
    color: white;
    font-family: "karla";
}

.admin_config h4 {
    color: white; 
    font-family: "Roboto" ;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
    padding: 3px 0px;
}

.admin_config h4::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0%;
    border-radius: 5px;
    background: white;
    transition: all 1s;
}

.admin_config h4:hover::after {
    width: 100%;
    left: 0;
}

.all_users table {
    color: white;
    font-family: "Karla";
}

.edit_delete button {
    margin: 0 20px;
}
.admin_config {
    padding-top: 20px;
}

.admin_config a {
    text-decoration: none !important;
}


.delete_post_1 {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}



.alien_images label {
    color: white;
    font-family: "Roboto";

}

.alien_images input {
    color: white;
}


.alien_images label {
    font-family: "Karla";
    font-size: 20px;
    font-weight: bold;
}


.comment_header  {
    font-family: "Karla";

}
/* End Admin CSS */



/* User Private Page CSS */

.about_user p {
    color:white;
    font-family: "Karla";
}


.user_settings h1 {
    color: white;
    font-family: 'Roboto';
    font-size: 20px;
    margin-top: 20px;
}

.user_settings input {
    margin-top: 20px;
}

/* END USER Private Page css */


.swiper-container {
width: 100%;
height: 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-pagination span {
border-radius: 0%;
width: 25px;
height: 3px;

}

.swiper-pagination {
bottom: 0 !important;
}

.swiper-pagination-bullet-active
{
background: #eee;
}


/* .other_planets_disc {
    width: 360%;
} */




.other_planets {
color: #fff;
font-family: 'Karla', sans-serif;
font-size: 16px;
}


.other_planets_img {
animation: mymove 10s  infinite linear;
}
    @keyframes mymove {
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}



.dot {
    border: 3px solid #999;
-webkit-border-radius: 30px;

position: absolute;
right: -30px;

-webkit-animation: pulsate 1s ease-out;
-webkit-animation-iteration-count: infinite; 
opacity: 0.0
}

@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
50% {opacity: 1.0;}
100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}


.popular_Planet {
    display: flex;
}

.planets {
    display: flex;
}


.navbar-collapse {
    display: flex;
}

.navbar-collapse  li {
    margin-right: 20px;
}
.search_bar {
    position: relative;
    width: 160px;
    display: flex;
    align-items: center;
}



.search  {
   
   position: absolute;
   right: 45px;
    border: none;
   width: 0%;
   margin: 0;
    border-radius: 4px;
    padding: 5px 0px;
   transition: all .5s cubic-bezier(0.89, 0.31, 0.52, 1.41);
 
}

.search::placeholder {

    font-family: 'Karla';
    font-size: 13px;
    color: black;

}

.search.active {
   width: 100%;
   padding: 5px 10px;
}

.bord li {
    position: relative;
}

.bord-li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transition: all 1s;
}



.bord li:hover::after {
    width: 100%;
    left: 0;
}

.singup h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Roboto';
}


.singup label {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Roboto';
}

.singup input {
    width: 80%;
    margin: 0 auto;
}

.log-in h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Roboto';
}


.log-in label {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Roboto';
}

.log-in input {
    width: 80%;
    margin: 0 auto;
}


.btn-sign_up {
    font-family: 'Roboto';
    font-size: 20px;
}

.singup {
    top: -100%;
    transition: top 1s cubic-bezier(0.89, 0.31, 0.52, 1.41);
}
.singup.active {
    top: 10%;
}

.log-in {
    top: -100%;
    width: 400px; 
    height: 600px; 
    border-radius: 10px; 
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1.33) ), url("/images/sign_log1.jpg"); 
    background-size: cover; 
    position: fixed; 
    z-index: 1000;  
    left: 50%; 
    transform: translateX(-50%);
    transition: top 1s cubic-bezier(0.89, 0.31, 0.52, 1.41);
}

.log-in.active {
    top: 10%;
}

.new_planet {
    top: -100%;
    width: 400px; 
    border-radius: 10px; 
    background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1.33) ), url("/images/sign_log1.jpg"); 
    background-size: cover; 
    position: fixed; 
    z-index: 1000;  
    left: 50%; 
    transform: translateX(-50%);
    transition: top 1s cubic-bezier(0.89, 0.31, 0.52, 1.41);
}

.new_planet.active {
    top: 10%;
}

.new_input {
    border:none !important;
    border-bottom: 1px solid white !important;
    background: transparent !important;
    border-radius: 0px !important;
}

.new_input:focus {
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}



/* Notification CSS */

.notification-div {
    display: none;
    position: absolute;
    width: 150px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    background:red;
    z-index: 1;
}