

        @media only screen and (max-width: 600px) {

            .popular_Planet {
                display: inline;
            }

            .planet_desc {
                width: 100% !important;
            }

            .planets {
                display: inline;
            }

            
            .other_planets_disc {
                padding-top: 20px;
            }

            .planets {
                overflow: hidden;
            }

            .navbar-collapse {
                display: inline;
            }


            .singup {
                width: 326px !important;
                height: 550px !important;
            }

            .log-in {
                width: 326px !important;
                height: 550px !important;
            }

            .new_planet {
                width: 326px !important;
                height: 550px !important;
            }


            .all_cont {
                overflow: hidden;
            }

            .single_planet_disc {
                padding: 15px;
                text-align: justify;
            }

            .single_planet_people p {
                padding: 27px;
            }

            .planet_people {
                display: inline;
            }


            /* Admin Reposnisve */

            .all_users {
                overflow: auto;
            }


            .over {
                overflow: hidden;
            }

            .other_planets_disc
            {
                width: 100%;
            }
            .other_planets_disc textarea {
                width: 100%;
            }

            .edit_and_delete  {
                justify-content: center;
            }

            .admin_config  h4 {
                padding-top: 20px;
                font-size: 21px !important;
            }
            
        }